<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsUnit" version="1.1.0.1" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.1.2" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net40" />
  <package id="OxyPlot.WindowsForms" version="2012.3.126.1" targetFramework="net40-Client" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net40-Client" />
</packages>